.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.active{role: "presentation"}
          = link_to "Popular PROTO", root_path, remote: true
        %li{role: "presentation"}
          = link_to "Newest PROTO", prototypes_newest_index_path, remote: true
      = button_to "VIEW TAGS", tags_path, class: "btn btn-default col-lg-1", method: :get

.container-proto-list
  .row
    .col-sm-4.col-md-3.proto-content
      .thumbnail
        - @prototypes.each do |prototype|
          = link_to "", prototype_path(prototype)
          = image_tag prototype.photos[0].url
          .caption
            = link_to "#{ prototype.title }", prototype_path(prototype)
            .proto-meta
              .proto-user
                = link_to "by #{ prototype.user.user_name }", user_path(prototype.user)
              .proto-posted
                Apr 26
              %ul.proto-tag-list.list-inline
                %li
                  - prototype.tag_list.each do |tag|
                    = link_to tag, tag_path(tag), class: "btn btn-default"
              = link_to "edit", edit_prototype_path(prototype)
              = link_to "delete", prototype_path(prototype), method: "delete"

.text-center
  %ul.pagination
    = paginate(@prototypes)
