.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          %a{ href: "#"}
          = link_to image_tag('<%= @prototype.user.avatar %>', alt: "64 * 64", width: "64", height: "64", class: "media-object")
        .media-body
          %h4#top-aligned-media.media-heading
          = @prototype.title
          .proto-user
            = link_to @prototype.user.user_name, user_path(current_user)
            %span.degree
              = @prototype.user.group_name
              = @prototype.user.profile

    .col-md-6.text-right
      %button.btn.btn-default
        #like
          = render "likes/like", { prototype: @prototype, like: @like }

  .row
    .col-md-9
      = image_tag @prototype.photos.main[0].url, class: 'img-responsive'
    .col-md-3
      %ul.proto-sub-list.list-group
        %li.list-group-item
          = image_tag @prototype.photos.sub[0].url, class: 'img-responsive'
        %li.list-group-item
          = image_tag @prototype.photos.sub[0].url, class: 'img-responsive'

  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      = @prototype.catchcopy
    .col-md-6
      %h4 Concept
      = @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li 
          %a{ href: "#", class: "btn btn-default"} iPad
        %li 
          %a{ href: "#", class: "btn btn-default"} wireframe
    %h4.col-md-12
      Comments
      %span.num
        = @comments.count
    = render "comments/form", { prototype: @prototype, comments: @comments, comment: @comment}
